html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Layout {
  margin-top: 60px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.footer {
  padding-bottom: 5px;
}