.Searchbar {
  border: 0;
  font-size: 0.8rem;

  input {
    width: 100px;
    margin-right: 3px;
    border: 0;
    border-bottom: 1px solid black;
    height: 0.8rem;
    background-color: transparent;
  }

}